/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}


ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* end reset css */
.recipe-page-container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.recipe-contents-container {
    line-height: 150%;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.ingredients-container {
    padding: 10px;
    border-left: black double;
}

.steps-container {
    padding: 5px;
    line-height: 150%;
}

h1 {

    margin: 5px;
    font-family: Chewy, Arial, sans-serif;
    font-size: 36px;
    color: #2c0768;

}

h2 {
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 5px;
}

h3 {
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
}

p {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 20px;

}

li {
    font-family: Nunito, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.recipe-detail-image {
    width: 500px;
    height: 400px;
    margin: 5px;
}

body {
    background-color: #faa43d;
}

.heading-img {
    height: auto;
    width: 100%;
}

.recipes-container {
    display: flex;
    justify-content: space-around;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}



.button-secondary-text {
    font-family: 'Rock Salt', Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
}

.recipe-image {
    padding: 5px;
    width: 300px;
    height: auto;
}




.button {
    text-decoration: none;
    color: black;
    border: 3px solid black;
    font-weight: bold;
    border-radius: 25px;
    padding: 20px;
    font-family: Chewy, Arial, sans-serif;
    font-size: 30px;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 5px 5px 10px #000000;
}

.blue-button {

    background-color: #aa76fc;

}

.red-button {
    background-color: #e54c61;
}

.middle-container {
    padding: 10px;
    border-right: 1px dotted #0c0c0c2c;
    border-left: 1px dotted #0c0c0c2c;

}